{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Login</h1>
    <div class="justify-content-center">
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      {% if next %}
        {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
          <p>Please login to see this page.</p>
        {% endif %}
      {% endif %}
      <form class="align-self-center col-lg-6" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <p><a href="{% url 'register' %}">Register</a></p>
    </div>
  </div>
</main>

{% endblock %}